<mat-card>

  <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title fxLayout="column" fxLayoutAlign="center center">Login Form</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="loginForm"  >
      <mat-form-field class="example-full-width">
        <mat-label>username</mat-label>
        <input matInput placeholder="username"   formControlName="username"  hint="username">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>password</mat-label>
        <input matInput  type="password" hint="password" formControlName="password"  >
      </mat-form-field>

      <mat-card-actions  fxLayout="row" fxLayoutAlign="center center">
        <button mat-button type="submit"
                class="mat-raised-button mat-primary"
                (click)= login()
                [disabled]="!loginForm.valid">Login</button>
      </mat-card-actions>
    </form>




</mat-card>
