<mat-card>

    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title fxLayout="column" fxLayoutAlign="center center">Register Form</mat-card-title>
      </mat-card-header>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>username</mat-label>
          <input matInput placeholder="Ex. Pizza" hint="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>email</mat-label>
          <input matInput placeholder="Ex. Pizza" hint="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>first name</mat-label>
          <input matInput placeholder="Ex. Pizza" hint="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>last name</mat-label>
          <input matInput placeholder="Ex. Pizza" hint="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>password</mat-label>
          <input matInput  hint="password">
        </mat-form-field>
 
        <button 
        mat-raised-button
        type="submit"
        color="success"
         mat-raised-button color="primary"
          >
          <mat-icon>account_circle</mat-icon> Register
        </button>

        
      </form>

</mat-card>
