<div fxLayout="column" fxLayoutAlign="center center"  class="login-page" >

    <router-outlet fxLayout="row" fxLayoutAlign="center center"></router-outlet>
    <div fxLayout="column"  fxLayoutGap="16px"  >
            <div    class="bottom-right" >
                    <img class="logoPic" src="../../assets/images/Linedata_Logo_White.jpg">
            </div>
            <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="end end" fxLayoutGap="5px" class="bottom-right">
                   <span>Copyright © jjarrarInc</span>
                    <a href="#" >Lincences</a> 
                </div> 
    </div>
    </div>